body {
    background-color: palegoldenrod;
    text-align: center;
    padding: 20px 40px;
    margin: 30px;
    font-family: cursive;
}
.section {
    padding: 20px 40px;
    background-color: palegreen;
    border: 2px solid green;
}
