body {
    background-color: palegoldenrod;
    text-align: center;
    padding: 20px 40px;
    margin: 30px;
    font-family: cursive;
}
.section {
    padding: 20px 40px;
    background-color: palegreen;
    border: 2px solid green;
}
.navBar{
    overflow: hidden;
    background-color: green;
}
.navBar a {
    float: left;
    border: 1px solid green;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.navBar a:hover, .dropdownMenu:hover .dropdownButton{
    background-color: floralwhite;
}
.dropdownMenu {
    float: left;
    overflow: hidden;
}
.dropdownMenu .dropdownButton{
    border: none;
    outline: none;
    color: green;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    max-width: 160px;
    z-index: 1;
}
.dropdownContent a {
    float: none;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    text-align: left;
}